In [8]:
from pyspark.sql.types import StructType, StructField, FloatType, BooleanType
from pyspark.sql.types import DoubleType, IntegerType, StringType
import pyspark.sql.functions as F
import pyspark
from pyspark.sql import SparkSession
from pyspark import SQLContext

In [42]:

# Setup the Configuration
conf = pyspark.SparkConf()
spark_context = SparkSession.builder.config(conf=conf).getOrCreate()
sqlcontext = SQLContext(spark_context)
#spark_context.conf.set('spark.hadoop.fs.s3a.access.key','AKIAYSRBUYSI7CINTAUT')
#spark_context.conf.set('spark.hadoop.fs.s3a.secret.key','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')
spark_context.conf.set('spark.hadoop.fs.s3a.impl','org.apache.hadoop.fs.s3a.S3AFileSystem')
spark_context.conf.set("spark.hadoop.fs.s3a.aws.credentials.provider", 
               "com.amazonaws.auth.EnvironmentVariableCredentialsProvider")
spark_context.conf.set('spark.sql.caseSensitive','true')
spark_context.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.endpoint", "s3.ap-south-1.amazonaws.com")
spark_context.sparkContext._jsc.hadoopConfiguration().set("com.amazonaws.services.s3.enableV4", "true")

** Part 0: load bls data from BLS

In [43]:
bls_df = spark_context.read.option('header','true').option("sep", "\t").csv("s3a://bls-data-assgn/data/pr.data.0.Current")
for col in bls_df.columns:
    bls_df = bls_df.withColumnRenamed(col, col.strip())
bls_df = bls_df.withColumn('value', F.col('value').cast('double'))

** part 0: load population json from api

In [44]:
population_df = spark_context.read.json('s3a://bls-data-assgn/population_data/data.json')

** Part 1: Population mean and standard devation between 2013 and 2018

In [45]:
cleaned_population_df = population_df.select(F.explode(F.col('data')).alias('r')).selectExpr('r.*').where(F.col('Year').between('2013','2018'))
summary_df = cleaned_population_df.describe()

In [46]:
summary_df.select('summary', 'Population').show()

+-------+----------------+
|summary|      Population|
+-------+----------------+
|  count|               6|
|   mean|    3.17437383E8|
| stddev|4257089.54152933|
|    min|       311536594|
|    max|       322903030|
+-------+----------------+

** part 2: Best year

In [47]:
bls_df.groupBy('series_id','year').agg(F.sum('value').alias('value')).orderBy(F.col('value').desc()).show(2)

+-----------------+----+--------+
|        series_id|year|   value|
+-----------------+----+--------+
|PRS88003183      |2024|1064.205|
|PRS88003183      |2023|1002.789|
+-----------------+----+--------+
only showing top 2 rows

** part 3: report generation

In [48]:
cleaned_population_df.join(bls_df, cleaned_population_df['Year']==bls_df['year'],'inner').select('series_id','year','period','value','Population').show()

+-----------------+----+------+-----+----------+
|        series_id|year|period|value|Population|
+-----------------+----+------+-----+----------+
|PRS30006011      |2013|   Q01|  1.3| 311536594|
|PRS30006011      |2013|   Q02|  0.4| 311536594|
|PRS30006011      |2013|   Q03|  0.3| 311536594|
|PRS30006011      |2013|   Q04|  0.7| 311536594|
|PRS30006011      |2013|   Q05|  0.7| 311536594|
|PRS30006011      |2014|   Q01|  0.6| 314107084|
|PRS30006011      |2014|   Q02|  1.1| 314107084|
|PRS30006011      |2014|   Q03|  1.5| 314107084|
|PRS30006011      |2014|   Q04|  1.9| 314107084|
|PRS30006011      |2014|   Q05|  1.3| 314107084|
|PRS30006011      |2015|   Q01|  1.5| 316515021|
|PRS30006011      |2015|   Q02|  1.5| 316515021|
|PRS30006011      |2015|   Q03|  1.4| 316515021|
|PRS30006011      |2015|   Q04|  0.8| 316515021|
|PRS30006011      |2015|   Q05|  1.3| 316515021|
|PRS30006011      |2016|   Q01|  0.5| 318558162|
|PRS30006011      |2016|   Q02|  0.0| 318558162|
|PRS30006011      |2016|   Q03|  0.1| 318558162|
|PRS30006011      |2016|   Q04| -0.4| 318558162|
|PRS30006011      |2016|   Q05|  0.0| 318558162|
+-----------------+----+------+-----+----------+
only showing top 20 rows